<nav>
  <a href="/main" class="navbar-left">Wandr</a>
  <a href="/signout" class="navbar-right">Sign Out</a>
  <a href="/profile" class="navbar-right"><img class="icons" src="images/profile.png" title="Profile"></a>
  <a href="/post" class="navbar-right"><img class="icons" src="images/edit.png" title="Create Post"></a>
</nav>
<center>
<strong><p class="dltAcct">Are you sure you want
<br> to delete your account?</p></strong>

<form action="/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">    
    <button class="button" type="submit">Submit</button>
</form>
</center>