
<h1>Are you sure you want to delete your account?</h1>

<form action="/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">    
    <button class="button" type="submit">Submit</button>
</form>