<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <title>Wandr</title>
</head>
<body>
<nav>
 <a href="/" class="navbar-left">Wandr</a>
  

  <a href="/signout" class="navbar-right">Sign Out</a>
  <a href="/profile" class="navbar-right">Profile</a>
  <a href="/post" class="navbar-right">Make New Post</a>
</nav>

     <%= yield %>

<script src="/main.js"></script>
</body>
</html>

