<div class="indexMain">
<img class="logo" src="images/wandrlogo.png">
</div>
<div class="newPost">
<form action="/post" method="post">
  <div>
    <label for="Title">Title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="content">Your Text Here:</label>
    <textarea id="text" name="content"></textarea>
  </div>
   <button type="submit" class="submitPost">Post</button>
</form>
</div>
