<div class="indexMain">
<p class="logoTxt">Wandr</p>

</div>
<div class="newPost">
<form action="/post" method="post">
  <div>
    <label for="Title">Title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="content">Your Text Here:</label>
    <textarea id="text" name="content"></textarea>
  </div>
  <div>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image">
  </div>

   <button type="submit" class="submitPost">Post</button>
</form>
</div>
