<nav>
  <a href="/" class="navbar-left">Wandr</a>
  <a href="/signout" class="navbar-right">Sign Out</a>
  <a href="/profile" class="navbar-right"><img class="icons" src="images/profile.png" title="Profile"></a>
  <a href="/post" class="navbar-right"><img class="icons" src="images/edit.png" title="Create Post"></a>
</nav>

</div>
<div class="newPost">
<form action="/post" method="post">
  <div>
    <label for="Title">Title:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="content">Your Text Here:</label>
    <textarea id="text" name="content"></textarea>
  </div>
  <div>
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image">
  </div>
  <%# <div>
    <label for="image">Location:</label>
    <input type="text" id="image" name="image">
  </div> %>

   <button type="submit" class="submitPost">Post</button>
</form>
</div>
