<div class="indexMain">
<img class="logo" src="images/wandrlogo.png">
  <p>Create an account:</p>
      <div class="row">
        <form class="userForm" method="POST" action="/signup">
          <div class="row">
            <div class="inputField">
              <input  id="first_name" type="text" class="validate" name="first_name">
              <label for="first_name">First Name</label></div>
            <div class="inputField">
              <input id="last_name" type="text" class="validate" name="last_name">
              <label for="last_name">Last Name</label></div>
          </div>
      <div class="row">
        <div class="inputField">
              <input id="screen_name" type="text" class="validate" name="screen_name">
              <label for="screen_name">Username</label></div>
            <div class="inputField">
              <input id="birthday" type="text" class="datepicker" name="birthday">
              <label for="birthday">Birthday</label></div>
        </div>
      <div class="row">
          <div class="inputField">
              <input id="email" type="email" class="validate" name="email">
              <label for="email">Email</label></div>
          <div class="inputField">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label></div>
      </div>
          <button class="submitButton" type="submit" id="submit-signup">Submit</button>
            </form>
</div>