<div class="indexMain">
<p class="logoTxt">Wandr</p>

    <h3>Create an account</h3> 
  <div class="regForm">
      <form class="userForm" method="POST" action="/signup">
            <div class="inputField">
              <label for="first_name">First Name</label>
              <input  id="first_name" type="text" class="validate" name="first_name"></div><br>

            <div class="inputField">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" class="validate" name="last_name"></div><br>
        
            <div class="inputField">
              <label for="username">Username</label>
              <input id="username" type="text" class="validate" name="username"></div><br>

            <div class="inputField">
             <label for="userimage">User Image</label>
             <input id="userimage" type="text" class="validate" name="userimage"></div><br>
              
            <div class="inputField">
              <label for="birthday">Birthday</label>
              <input id="birthday" type="date" class="datepicker" name="birthday"></div><br>

          <div class="inputField">
              <label for="email">Email</label>
              <input id="email" type="email" class="validate" name="email"></div><br>

          <div class="inputField">
              <label for="password">Password</label>
              <input id="password" type="password" class="validate" name="password"></div><br>

          <button class="submitButton" type="submit" id="submit-signup">Submit</button>
            </form>
  <% flash.keys.each do |type| %>
    <div class="flash <%= type %>">
      <%= flash[type] %>
      <a class="close-button" href="#">x</a>
    </div>
  <% end %>

</div>