body {
    font-family: 'Tajawal', sans-serif;
    height: 100%;
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.5); */
    background-image: url("images/bg/random.image.php");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-position: center;
    overflow: hidden;
}

.indexMain {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loginForm {
    align-items: center;
    font-size: 18px;
}

.logo {
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.548));
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: black;
}